<?xml version="1.0"?>
<launch>
    
    <!-- Loads thee iiwa.world environment in Gazebo. -->
    
    <!-- These are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa" />
    <arg name="model" default="iiwa14"/>
    
    <arg name="pi" default="3.141592"/>
    <arg name="initial_angle_6" default="$(eval 90*arg('pi')/180)"/> <!--Initial angle in radians -->

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- The .world is coming from the operating_room package -->
        <arg name="world_name" value="$(find operating_room)/world/operating_world.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    
    <!-- Load the URDF with the given hardware interface into the ROS Parameter Server -->
    <include file="$(find iiwa_description)/launch/$(arg model)_upload.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="origin_xyz" value="'0.2 0 1.0'" /> <!--setting base position-->
        <arg name="origin_rpy" value="'0 0 0'" />
    </include>
    
    <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model iiwa -param robot_description
          -J iiwa_joint_6 $(arg initial_angle_6)"/>
    
    
    </launch>
    